@{
    ViewData["Title"] = "Editar al Alumno";

}

<div class="text-center">
    <h1 class="display-2">Editar al Alumno</h1>  
</div>

<form asp-controller="Student" asp-action="StudentEdit">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba la Carrera" />
    </div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Matricula</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba la Matricula" />
    </div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Carrera</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba la Carrera" />
    </div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el Sexo" />
    </div>

     <div class="mb-3">
        <label for="nombre" class="form-label">Edad</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba la Edad" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Student" asp-action="StudentList" class="btn btn-secundary mb-3">Regresar</a>
</form>